{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('new') }}">Add a new user!</a>
<h1>Here are all the users!</h1>
	{% for user in users %}
	<p>
		{{ user.first_name }} {{ user.last_name }}
		<br>
		<a href="{{ url_for('edit', id=user.id) }}">Edit User</a>
		<a href="{{ url_for('messages_index', user_id=user.id) }}">View Messages</a>
		<form action="{{ url_for('show', id=user.id) }}?_method=DELETE" method="POST">
			<button>Delete User</button>
		</form>
	</p>
	{% endfor %}
{% endblock %}