<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Employees and Departments</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
		<div class="col-12">
			<a class='col-12' href="{{ url_for('employees.index') }}">Employees</a>
			<a href="{{ url_for('departments.index') }}">Departments</a>
			<br>
			<br>
			{% block content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>