{% extends 'base.html' %}

{% block content %}
	<a href="{{ url_for('employees.new') }}">Enter a new employee!</a>
	<h1>Here are your employees!</h1>

		{% for employee in employees %}
		<p>
			Name: {{ employee.name }}
			<br>
			Years at company: {{ employee.years_at_company }}
			<!-- {{ employee.departments }} -->
		<br>
		<a href="{{ url_for('employees.edit', id=employee.id) }}">Edit Employee</a>
		<form method='POST' action="{{ url_for('employees.show', id=employee.id) }}?_method=DELETE">
			<button>Delete</button>
		</form>
		</p>
		{% endfor %}

{% endblock %}
