{% extends 'base.html' %}

{% block content %}
	<h1>Enter a new employee!</h1>
	<form action="{{ url_for('employees.index') }}" method="POST">
		{{ form.csrf_token }}

		<p>
			{{ form.name(placeholder='name') }}
			<span>
				{% if form.name.errors %}
					{% for error in form.name.errors %}
						{{ error }}
					{% endfor %}
				{% endif %}
			</span>
		</p>
		<br>
		<p>
			{{ form.years_at_company(placeholder='years_at_company') }}
				<span>
					{% if form.years_at_company.errors %}
						{% for error in form.years_at_company.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
				</span>
		</p>
		<br>
		<p>
			{{ form.departments }}
		</p>
		<button>Submit</button>
	</form>
{% endblock %}